<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Fire</title>
    <link rel="icon" type="image/png" href="https://tallerthanshort.github.io/ut3.ggpht/icons/fire_logo.png">
    <meta name="description" content="Listen to your favorite music, upload your own, and share with the world, it's Fire">
    <meta property="og:site_name" content="Fire, Beats are Litt 🔥">
    <meta property="og:title" content="<%= title %> | Fire">
    <meta property="og:image" content="https://tallerthanshort.github.io/ut3.ggpht/icons/fire_logo.png">
    <meta property="og:description" content="<%= title %>, on Fire. Listen to your favorite music, upload your own, and share with the world, it's Fire">
    <%- include('../partials/style') %>
</head>
<body>
    <div id="title" style="position: relative;">
        <div class="logo" style="position: absolute;">
            <img src="https://tallerthanshort.github.io/ut3.ggpht/icons/fire_logo.png" style="height: 64px; width: 64px;">
        </div>
    </div>
    <div class="row-31oovZ header-V8Sgnz">
        <header class="wrapper-2bm6Le">
            <nav class="nav-3_Sybl">
                <div class="links-DGfZfm">
                    <ul id="navbarthings">
                        <span class="link-1naFFL link-2eyudH" onclick="location.href='/'">Home</span>
                        <span class="link-1naFFL link-2eyudH" onclick="location.href='/login';">Log In</span>
                    </ul>
                    <div id="credoauth2-scope"></div>
                </div>
            </nav>
        </header>
    </div>
    <div class="app-container">
        <div class="gridz">
            <div onclick="location.href='/kROlg5tg40YAt9eF7mOY'" title="Listen to TallerThanShort - saiko-1">
                <div class="slot">
                    <div class="cover-art">
                        <img class="cover-img" src="https://media.discordapp.net/attachments/885456146775810059/1078329050512240650/cyberpunk_trap_remix_album_cover-picsay.png">
                    </div>
                    <div class="track-descriptors">
                        <div class="track-desc">
                            <div class="track-name">saiko-1</div>
                            <div class="track-owner">TallerThanShort</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="players">
        <div id="audio-player-container">
            <p><%= title %></p>
            <audio controls autoplay loop>
                <source src="<%= source %>">
                Your device doesn't support our audio player!
            </audio>
        </div>
    </div>
</body>
</html>