<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Fire</title>
    <link rel="icon" type="image/png" href="https://tallerthanshort.github.io/ut3.ggpht/icons/fire_logo.png">
    <meta name="description" content="Listen to your favorite music, upload your own, and share with the world, it's Fire">
    <meta property="og:site_name" content="Fire, Beats are Litt 🔥">
    <meta property="og:title" content="<%= title %> | Fire">
    <meta property="og:image" content="https://tallerthanshort.github.io/ut3.ggpht/icons/fire_logo.png">
    <meta property="og:description" content="<%= title %>, on Fire. Listen to your favorite music, upload your own, and share with the world, it's Fire">
    <%- include('../partials/style') %>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="app-container">
        <div class="gridz">
            <% for (const track of tracks) { %>
                <div onclick="location.href='<%= track.link %>'"><div class="slot"><div class="cover-art"><img class="cover-img" src="<%= track.cover %>"></div><div class="track-descriptors"><div class="track-desc"><div class="track-name"><%= track.name %></div><div class="track-owner"><%= track.uploader %></div></div></div></div></div>
              <% } %>
        </div>
    </div>

    <div id="players">
        <div id="audio-player-container">
            <p><%= title %></p>
            <audio controls autoplay loop>
                <source src="<%= source %>">
                Your device doesn't support our audio player!
            </audio>
        </div>
    </div>
</body>
</html>