<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Fire</title>
    <link rel="icon" type="image/png" href="https://tallerthanshort.github.io/ut3.ggpht/icons/fire_logo.png">
    <meta name="description" content="Upload your own your own masterpiece, and share with the world, it's Fire">
    <meta property="og:site_name" content="Fire, Beats are Litt 🔥">
    <meta property="og:title" content="<%= title %> | Fire">
    <meta property="og:image" content="https://tallerthanshort.github.io/ut3.ggpht/icons/fire_logo.png">
    <meta property="og:description" content="<%= title %> | Fire">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/cookies') %>
    <%- include('../partials/header', { username: username }) %>
      
    <div>
        <h3>This is where you can upload your own track to Fire 🔥!</h3>
        <p>Simply fill in the form below (if you are logged in) and press upload! Your track and it's cover image will be stored on our servers and served to the public!</p>
        <b style="color: red;">Don't forget to read our <a style="color: crimson;" href="">Content Policy</a> and make sure you are abiding our <a style="color: crimson;" href="">ToS</a></b>
    </div>
    <br>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div>
          <label for="name">Track Name</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div>
          <label for="file">Track File (The Audio File)</label>
          <input type="file" id="file" name="file" accept="audio/*" required>
        </div>
        <div>
          <label for="cover">Track Cover</label>
          <input type="file" id="cover" name="cover" accept="image/*" required>
        </div>
        <button type="submit">Upload</button>
      </form>
      
          
</body>
</html>