<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Fire</title>
    <link rel="icon" type="image/png" href="https://tallerthanshort.github.io/ut3.ggpht/icons/fire_logo.png">
    <meta name="description" content="Upload your own your own masterpiece, and share with the world, it's Fire">
    <meta property="og:site_name" content="Fire, Beats are Litt 🔥">
    <meta property="og:title" content="<%= title %> | Fire">
    <meta property="og:image" content="https://tallerthanshort.github.io/ut3.ggpht/icons/fire_logo.png">
    <meta property="og:description" content="<%= title %> | Fire">
    <%- include('../partials/style') %>
</head>
<body>
    <%- include('../partials/header', { username: username }) %>
    <div id="cookcons" style="display: none; width: 99%; height: 108%; align-items: center; flex-direction: column; justify-content: center; background-size: cover; background-position: center; background-color: rgba(0, 0, 0, 0.7); color: black; position: absolute; top: 0px; left: 0px;">
        <div style="text-align: center; padding: 48px 26px 24px;  background-color: white; overflow: visible; box-sizing: border-box; display: block;">
            <h2>Cookie Consent</h2>
            <p>To use this site, you must first accept the usage of Cookies.</p>
            <p>The only Cookies used on this site are essential to maintain functionality.</p>
            <p>This site, cannot, does not and will not ever track you for any reason.</p>
            <p>To opt-out of Cookies on this site, discontinue use of this website.</p>
            <button style="border: none; background-color: blue; color: white; text-transform: uppercase; font-weight: 600; cursor: pointer;" onclick="acceptCookie()">Accept Cookies</button>
        </div>
    </div>
    <script>
        const hasAcceptedCookies = localStorage.getItem('cookie');
        if (!hasAcceptedCookies) {
           document.getElementById("cookcons").style.display = 'block';
        }
        function acceptCookie() {
            localStorage.setItem("cookie", 'true');
            document.getElementById("cookcons").style.display = 'none';
        }
    </script>
      
    <div>
        <h3>This is where you can upload your own track to Fire 🔥!</h3>
        <p>Simply fill in the form below (if you are logged in) and press upload! Your track and it's cover image will be stored on our servers and served to the public!</p>
        <b style="color: red;">Don't forget to read our <a style="color: crimson;" href="">Content Policy</a> and make sure you are abiding our <a style="color: crimson;" href="">ToS</a></b>
    </div>
    <br>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div>
          <label for="name">Track Name</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div>
          <label for="file">Track File (The Audio File)</label>
          <input type="file" id="file" name="file" accept="audio/*" required>
        </div>
        <div>
          <label for="cover">Track Cover</label>
          <input type="file" id="cover" name="cover" accept="image/*" required>
        </div>
        <button type="submit">Upload</button>
      </form>
      
          
</body>
</html>